<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
  integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
  integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<div>
  <div class="row">
    <div class="col-md-3" style="text-align: center;">
      <div class="ctest7">จำนวนผู้ติดเชื้อ</div><br>
      <div class="ctest6">COVID-19</div><br>
      <div class="ctest7">ในประเทศไทย</div>
    </div>
    <div class="col-md-9" style="text-align: center;">
      <div class="row ctest ctest1" style="background-color: #c83812">
        ติดเชื้อสะสม<br>{{ObjData?.cases}}<br>({{ObjData?.todayCases}})
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="ctest ctest1" style="background-color: #1c7c4e">
            หายแล้ว<br>{{ObjData?.recovered}}<br>(+ {{ObjData?.todayRecovered}})
          </div>
        </div>
        <div class="col-md-4">
          <div class="ctest ctest1" style="background-color: #307fe2">
            รักษาอยู่ใน รพ.<br>{{ObjData?.active}}<br>({{ObjData?.NewHospitalized}})
          </div>
        </div>
        <div class="col-md-4">
          <div class="ctest ctest1" style="background-color: #575756">
            เสียชีวิต<br>{{ObjData?.deaths}}<br>(+ {{ObjData?.todayDeaths}})
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-9" style="text-align: center;">
      <div class="row ctest">
        <div class="ctest1">ติดเชื้อสะสม<br>{{ObjData?.cases}}<br>({{ObjData?.todayCases}})</div>
      </div>
      <div class="row">
        <div class="col-md-4 ctest2">
          <div class="ctest1">หายแล้ว<br>{{ObjData?.recovered}}<br>(+ {{ObjData?.todayRecovered}})</div>
        </div>
        <div class="col-md-4 ctest4">
          <div class="ctest1">รักษาอยู่ใน รพ.<br>{{ObjData?.active}}<br>({{ObjData?.NewHospitalized}})</div>
        </div>
        <div class="col-md-4 ctest5">
          <div class="ctest1">เสียชีวิต<br>{{ObjData?.deaths}}<br>(+ {{ObjData?.todayDeaths}})</div>
        </div>
      </div>
    </div> -->
    <div class="col-md-12" style="text-align: 
    right;">
      <div>อัปเดตข้อมูลล่าสุด : {{ObjData?.UpdateDate}}</div>
    </div>
  </div>
</div>